<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NearDO Prototype</title>
    <!-- 부트스트랩 라이브러리 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- jquery 라이브러리 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="container" style="width:80%">

            <br>
            <h1>자산전송 페이지</h1>
            <p>자산전송을 위한 인증서정보 ID, new owner를 입력하세요.</p>
            <br>
            <!-- 입력폼 certificate, id, color, size, owner, value -->
            <label for="cert" class="form-label">Certificate Name : </label>
            <input type="text" class="form-control" id="cert" style="width:80%">
            <br>
            <label for="id" class="form-label">ID : </label>
            <input type="text" class="form-control" id="id" style="width:80%">
            <br>
            <label for="newowner" class="form-label">New Owner : </label>
            <input type="text" class="form-control" id="newowner" value="" style="width:80%">
            <br>

            <!-- 버튼 -->
            <button class="btn btn-outline-warning" id="trans-btn">자산전송</button> &nbsp;&nbsp;
            <a href="/" class="btn btn-outline-secondary">홈으로</a>
            <br><br>

            <!-- 결과영역 -->
            <div class="container" id="result"></div>
        </div>


        <br><br>
    </div>

</body>

<script>
    // 버튼 클릭 후 AJAX 동작 ( /user, POST, {userid, userrole, userdepartment} )
    $("#trans-btn").click(() => {
        const cert = $("#cert").val();
        const id = $("#id").val();
        const newowner = $("#newowner").val();

        console.log("asset transfer trans-btn clicked ", cert, id, newowner);

        $.post('/asset/tx', { cert, id, newowner }, (data, status) => {
            console.log(status, data);

            $("#result").empty();
            const res = JSON.stringify(data);
            $("#result").append("<p>" + res + "</p>");
        })
    })
</script>

</html>